body {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

main {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 20px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: white;
    outline: 5px solid rgba(0, 0, 0, 0.163);
}

.nav-izq {
    margin-left: 60px;
    height: 100px;
    width: 200px;

}

.nav-der {
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 120px;
}

.lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    font-size: 1.3rem;
}

#carrito-compras {
    width: 40px;
    height: 50px;
}
.click:hover {
    background-color: rgb(79, 0, 144);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.carrito,
.perfil {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

#img-perfil {
    width: 60px;
    height: 60px;
}

.nav-der div p {
    margin-right: 3px;
    margin-bottom: 0;
}

#buscador {
    width: 600px;
    border: none;
    background-color: rgb(240, 240, 240);
    border: none;
    height: 40px;
}

#icono-buscar {
    margin-left: 20px;
    width: 20px;
}

.contenedor-buscador {
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    height: 40px;
    width: 650px;
    margin: 0 auto;
}

.header {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0 auto;
}

#ejemplo {
    margin-top: 5px;
    font-size: 2rem;
}

.categorias {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 3rem;
}

.caja {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 1px 4px 20px 1px rgba(0, 0, 0, 0.393);
    font-weight: 600;
}

.caja img {
    margin-top: 10px;
}

.caja:hover {
    background-color: rgb(0, 183, 255);
}

#productos {
    display: flex;
    gap: 3rem;
    margin-top: 30px;
}

#regresar {
    color: white;
    font-size: 1rem;
    background-color: red;
    width: 120px;
    border: none;
    border-radius: 10px;
}
#contenedor-principal{
    margin-top: 8rem;
}

#filtro-pago {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filtros {
    width: 280px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.487);
}

#filtro-arriba {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#filtro-arriba i {
    font-size: 2rem;
}

#filtro-arriba h3 {
    font-weight: bold;
}

#filtro-abajo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 600;
}

#filtro-abajo input {
    margin-right: 10px;
}
#contenedor-categoria-selecionada {
    font-family: 'Montserrat', sans-serif;
}

#medida-pago {
    margin-top: 30px;
    width: 280px;
    height: 140px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.487);
}

#articulos {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner-nombre-empresa {
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner-nombre-empresa:hover {
    background-color: rgb(0, 81, 255);
    cursor: pointer;
}

#pa-vender {
    height: auto;
    padding: .5rem 1rem;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.487);
}

#info {
    width: 100%;
}

#precio {
    font-weight: 600;
}

#titulo-info {
    font-weight: 600;
}

#precio-corazon {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

#comprar {
    background-color: rgb(0, 94, 255);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
}
#title-producto-modal {
    display: flex;
    justify-content: center;
    background-color: rgb(254, 241, 0);
}
.card {
    align-items: center;
}
.detalles-entrega {
    display: flex;
    justify-content: center;
    align-items: center;
}
#pertenece {
    margin-left: 10px;
}
.detalles-entrega p {
    margin: 0;

}
#logos-pago {
    justify-content: space-around;
}
#hastags {
    justify-content: space-around;
}
#form-unidades {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#form-unidades label {
    margin-right: 10px;
}
#carrito-fav {
    display: flex;
    justify-content: center;
}
#iconos-retirar {
    display: flex;
}
.nose {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.nose p {
    margin: 0;
}
#btn-favoritos {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 0, 119);
    color: white;
    font-size: 0.8rem;
}
#img-producto-modal {
    width: 300px;
    margin-top: 10px;

}
footer {
    height: 90px;
    background-color: #000;
    display: grid;
    place-items: center;
    margin-top: 5rem;
    color: #fff;
}

@media (max-width: 1000px) {
    

    .contenedor-buscador {
        width: 450px;
    }

    #buscador {
        width: 400px;
    }

    .caja {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .carrito p, .lista p {
        display: none;
    }

    .contenedor-buscador {
        width: 250px;
    }

    #buscador {
        width: 200px;
    }
    .caja {
        width: 100%;
    }
    #productos {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 480px) {
    .perfil p {
        display: none;
    }
    .caja {
        width: 100%;
    }
}

@media (max-width: 390px) {

    .nav-izq {
        margin-left: 0;
    }
}